- if flash[:notice]
  = render 'shared/success_notice'

- content_for :title do
  %title  Accounting & Finance | Joynus Staffing
  %meta{:content => "Joynus chooses Accounting and Finance candidates through personality and competency test on their attention to detail and precision.", :name => "Description"}/
  %meta{:content => "Staffing Accounting, Contract accounting, Hire Accounting, Accounting position", :name => "keywords"}
  %link{:href => "https://www.joynus.com/accounting", :rel => "canonical"}
  %meta{:content => "/assets/Logo_StackUp-209603de2620f5818742d56fbb0c67de.png", :property => "og:image"}
  %meta{:content => "Website", :property => "og:type"}
  %meta{:content => "summary_large_image", :name => "twitter:card"}
  %meta{:content => "https://www.joynus.com/assets/Logo_StackUp-209603de2620f5818742d56fbb0c67de.png", :name => "twitter:image"}
  
%body

  %section
    
    .row.spec-font#spec-banner
      .columns.large-12.text-center
        %h1
          %b ACCOUNTING & FINANCE
      
    

  .columns.large-12


    .path
      = active_link_to root_url do
        .srvIco1
          %i.icon-home
      %h5
        = active_link_to t('header.home'), root_url
      .srvIco11
        %i.icon-right  
      %h5
        = active_link_to t('header.services'), services_path
      .srvIco11
        %i.icon-right
      %h5 
        =t('footer.accounting')
  %svg.spec.m-top-n1#clouds{:height => "50", :preserveaspectratio => "none", :version => "1.1", :viewbox => "0 0 50 50", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
    %path{:d => "M-5 50 Q 0 20 5 50 Z\n         M0 50 Q 5 0 10 50\n         M5 50 Q 10 30 15 50\n         M10 50 Q 15 10 20 50\n         M15 50 Q 20 30 25 50\n         M20 50 Q 25 -10 30 50\n         M25 50 Q 30 10 35 50\n         M30 50 Q 35 30 40 50\n         M35 50 Q 40 10 45 50\n         M40 50 Q 45 50 50 50\n         M45 50 Q 50 20 55 50\n         M50 50 Q 55 40 60 50\n         M55 50 Q 60 60 65 50\n         M60 50 Q 65 50 70 50\n         M65 50 Q 70 20 75 50\n         M70 50 Q 75 45 80 50\n         M75 50 Q 80 30 85 50\n         M80 50 Q 85 20 90 50\n         M85 50 Q 90 50 95 50\n         M90 50 Q 95 25 50 50\n         M95 50 Q 50 15 105 50 Z"}
  %section.m-top-n{:style=>"background:linear-gradient(#f9f9f9, #ffffff);"}
    
    
    
    .row.text-center
      .columns.small-4
        = image_tag 'hyundai_c.png', :alt => 'Hyundai', :class => 'img-spec'
        %p.m-top3
          
      .columns.small-4
        = image_tag 'LG_c.png', :alt => 'LG', :class => 'img-spec'
        %p.m-top3
          
      .columns.small-4
        = image_tag 'Posco_c.png', :alt => 'Posco', :class => 'img-spec'
        %p.m-top3
      
        
    .row.m-top3
      .columns.large-12
        %h3.text-center
          %b
            We help you make smart decisions.    
          
    .row
      
      .box-specialization2
        .columns.xlarge-5.xlarge-push-7.text-center
          =image_tag 'accounting_smart decision.png', :class=>"img-story", :alt=>"Smart-Decision"
        .columns.xlarge-7.xlarge-pull-4.spec-font
          
          
          %p.m-top3
            Accounting and finance are the languages of business. They make critical decisions and communicate major information about the business. Imagine having a wrong single digit on the report. It could lead your business to have detrimental consequences.


          
          %p
            Keeping your business on the right path starts with making the right hiring decision. Numbers do lie, as they are truthful as the finance professionals report the numbers to be. 



          %p
            In hiring, we ensure our talents to have three things in mind — accuracy, confidentiality, and ethics






          
          
    %section
      .row.m-top3
        .columns.large-12
          %h3.text-center
            %b
              Accuracy, Confidentiality, and Ethics
      .row
        .box-specialization
          .columns.xlarge-5.text-center
            =image_tag 'accounting_accuracy, confidentiality, and ethics.png', :class=>"img-story", :alt=>"Accuracy, Confidentiality, and Ethics"
          .columns.xlarge-7.spec-font
            
            %p
              Hiring someone with a strong sense of ethics is serious and critical in accounting and finance.
              



            %p
              So how do you measure one’s ethical behavior?    <br> 
            
            %p.m-top3{:style=>"line-height:0;"}
              Depending on the position we utilize
            
            
            %ul
              
              %li TTI SI Assessments
              %li Keirsey Temperament Assessment
              %li Insight WW Integrity Test
              %li Gallup CliftonStrenghth 34        
    
   

    
    %section
      .wwd-spec-accuracy
        
        .row
          .columns.large-12
            %h2
              %b
                Accuracy
        .row
          .columns.large-9
            %p
              Do you believe in numbers? The numbers in the financial data are only true as finance professionals interpret and report them to be. You need an expert who can measure candidates’ level of accuracy without asking “do you care about accuracy?”
            %p
              If you get a question like “where do I report this expense?,” you should begin measuring the candidates’ level of accuracy.

    %section
      .wwd-spec-confidentiality
        .row
          .columns.large-12.text-right
          
            %h2
              %b
                Confidentiality
        .row
          .columns.large-9.text-right
          
            %p
              Confidentiality is a serious task in the line of accounting and finance. We assess whether our candidates have the right behavioral type to handle a wide range of privileged and sensitive data in their daily tasks.
            %p
              With the DISC Assessment and Keirsey Temperament test, you will identify their personality types and initiate to measure their level of care of accuracy.
            %p
              Depending on position, our talents go through a criminal background check, SAM search record, OIG exclusion, and credit check.
            %p
              However, no test works better than observation. The best way to measure candidates’ ethical standard is to observe the result of their actions.

    %section
      .wwd-spec-ethics
        .row
          .columns.large-12
            %h2
              %b
                Ethics
        .row
          .columns.large-9
            %p
              After years of researching numerous interview questions, we have developed proven interview questions. We learned that candidates’ ethical behavior can be measured by a series of questions. 
            %p
              For example, candidates are asked to answer a lead-in question, “Tell me about a project that you were in charge of and that required attention to detail?"
            %p
              In their responses, we look for the sensitivity of the details without revealing. We seek for elaboration in their story and analyze a degree of attention to detail that is required.

   
 
    
    %section#fivefocus
      .row
        .columns.large-12.text-center.spec-font
          %h3.text-center
            %b OUR TOP FOUR FOCUS
            
    
      .row.m-top4.text-center
        
        .columns.small-6.medium-3
          = image_tag 'attention to detail.png', :alt => 'attentiontodetail', :class => 'img-focus'
          %p.m-top3
            %b
              Attention to Detail
        
        .columns.small-6.medium-3
          = image_tag 'integrity.png', :alt => 'integrity', :class => 'img-focus'
          %p.m-top3
            %b
              Integrity
        .columns.small-6.medium-3
          = image_tag 'senseofethics.png', :alt => 'senseofethics', :class => 'img-focus'
          %p.m-top3
            %b
              Strong Sense of Ethics
        .columns.small-6.medium-3
          = image_tag 'processimprovement.png', :alt => 'processimprovement', :class => 'img-focus'
          %p.m-top3
            %b
              Process & Improvement
    
    
    %section.m-top4          
      .row.text-center
        .colunms.large-10.large-offset-1.text-center.spec-font
          %h3
            %b Roles We Excel At
    
      .row.m-top3
        .columns.small-5.medium-6
          .spec-font.text-right.title-border
            .vl-accounting
            %h4
              %b  ACCOUNTING
        .columns.small-7.medium-6
          .spec-padding
            %ul.spec-role
              %li Accounting Clerk
              %li Accounting Specialist
              %li Controller
              %li Payroll Specialist
              %li Tax Specialist
              
      
      .row.m-top4
        .columns.small-5.medium-6
          .spec-font.text-right.title-border
            %h4
              %b  FINANCE
        .columns.small-7.medium-6
          .spec-padding
            %ul.spec-role
              %li Compensation Analyst
              %li Compliance Analyst
              %li Finance Specialist
              %li Financial Analyst 
              %li Financial Systems Administrator
              %li Internal Auditor
              %li Private Wealth Client Associate
              
      .row.m-top4
        .columns.small-5.medium-6
          .spec-font.text-right.title-border
            %h4
              %b BANKING
        .columns.small-7.medium-6
          .spec-padding
            %ul.spec-role
              %li Branch Manager
              %li Card Services Manager 
              %li Credit Analyst
              %li Customer Service Representative
              %li Loan Processor
              %li Loan Servicing Speclialist
              
              
      
      .row.m-top4  
        .columns.small-5.medium-6
          .spec-font.text-right.title-border
            %h4
              %b MORTGAGE
        .columns.small-7.medium-6
          .spec-padding
            %ul.spec-role
              %li Closing Assistant
              %li Loan Servicing Specialist
              %li Credit Anlalyst
              %li Collections Specialist
              %li Lending Officer
              %li Asset Manager
              %li Underwriter
            
      
      .row.m-top4  
        .columns.small-5.medium-6
          .spec-font.text-right.title-border
            %h4
              %b INSURANCE
        .columns.small-7.medium-6
          .spec-padding
            %ul.spec-role
              
              %li Underwriter
              %li Insurance Sales Associate
              %li Commercial Insurance Account Manager
              %li Claims Liason 
      
      .row.m-top3        
        .columns.large-12.text-center
          = link_to "GET TALENT", get_talent_index_path, class: 'spec-button'        
        
   
  
    %section
      .row
        .columns.small-12
          .spec-split.spec-font
            %h3.text-center
              %b  Geographical Focus
            %p.m-top4
              We are headquartered in Norcross, Georgia and located throughout the United States. Our talents have been mainly placed in Michigan, Georgia, North Carolina, Georgia, and Alabama.


      .row.m-top3
        .columns.small-12.large-9.large-offset-1
          =image_tag 'geo map_accounting & finance.png'
  



