
- if flash[:notice]
  = render 'shared/success_notice'
- content_for :title do
  %link{:href => post_url(@post), :rel => "canonical"}
  %title= @post.blog_title 
  %meta{:content => @post.summary, :name => "description"}
  %meta{:content => @post.title, :name => "keywords"}
  %meta{:content => @post.preview_image.try(:data).try(:url), :name => "image", :property => "og:image"}
  %meta{:content => "1200", :property => "og:image:width"}
  %meta{:content => "630", :property => "og:image:height"}
  %meta{:content => "Website", :property => "og:type"}
  %meta{:content => post_url(@post), :property => "og:url"}
  %meta{:content => @post.social_title, :property => "og:title"}
  %meta{:content => @post.summary, :property => "og:description"}
  %meta{:content => "summary_large_image", :name => "twitter:card"}
  %meta{:content => post_url(@post), :name => "twitter:site"}
  %meta{:content => "Joynus Staffing", :name => "twitter:creator"}
  %meta{:content => @post.social_title, :name => "twitter:title"}
  %meta{:content => @post.summary, :name => "twitter:description"}
  %meta{:content => "https://www.joynus.com#{@post.preview_image.try(:data).try(:url)}", :name => "twitter:image"}
  
  
  
  
  

.row
  .columns.large-10
    .breadcrumb
      = link_to posts_path do
        %i.icon-left-big
        BlOG

      - if current_user
        .right
          = link_to 'Delete Post', post_path(@post), class: 'button tiny radius secondary', action: 'destroy', method: :delete, data: { confirm: "Are you sure?" }
          = link_to 'Edit Post', edit_post_path(@post), class: 'button tiny radius ml'
    .columns.large-4
      
      = social_share_button_tag @post.title, desc: @post.summary  
    
    
.row
  .columns.large-10{:style=>"float:left;"}
    %article{ id: dom_id(@post), class: 'post entry-item clearfix' }
      .columns.small-12
        %h1.entry-heading
          %b
            = @post.blog_title
        
        .entry-thumbnail
         
          = image_tag @post.preview_image.try(:data).try(:url), alt: @post.preview_image&.data&.name

        .entry-body

          

          .entry-meta
            %strong
              = @post.created_at.to_date

            - if @post.author.present?
              %span.text-muted.text-thin
                by

              = link_to @post.author_full_name&.titleize, ''


          .entry-content
            %p.no-margin-bottom= @post.raw_post


