- content_for :title do
  %link{:href => "https://www.joynus.com/about", :rel => "canonical"}
  %title History | Joynus Staffing
  %meta{:content => "Our core characteristics include goal crushing attitude, competence, real-time communication, steadfast commitment, a no excuses attitude, open and transparent policies.", :name => "Description"}
  %meta{:content => "Staffing agency, Recruiting agency, Temp agency, Looking for job, Looking for Employee, Hire temp, hiring, recruiting, directhire", :name => "keywords"} 
  %meta{:content => "/assets/Logo_StackUp-209603de2620f5818742d56fbb0c67de.png", :property => "og:image"}
  %meta{:content => "Website", :property => "og:type"}
  %meta{:content => "summary_large_image", :name => "twitter:card"}
  %meta{:content => "https://www.joynus.com/assets/Logo_StackUp-209603de2620f5818742d56fbb0c67de.png", :name => "twitter:image"}
  

  
%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('history/history_final1_mobile.jpg')}, (small)], [#{asset_path('history/history_final1.jpg')}, (medium)], [#{asset_path('history/history_final1.jpg')}, (large)]" } }
      .feature-text#history
        %h1.text-center.animated.fadeInDown
          %b
            History of Joynus

%nav{ role: 'navigation', id: 'year-navigation' }
  .navbar-container
    %ul.menu
      %li.menu-item#li2000
        = active_link_to t('2000'), '#y2000'
      %li.menu-item#li2009
        = active_link_to t('2009'), '#y2009'
      %li.menu-item#li2010
        = active_link_to t('2010'), '#y2010'
      %li.menu-item#li2015
        = active_link_to t('2015'), '#y2015'
      %li.menu-item#li2016
        = active_link_to t('2016'), '#y2016'
      %li.menu-item#li2017
        = active_link_to t('2017'), '#y2017'
      %li.menu-item#li2018
        = active_link_to t('2018'), '#y2018'


%section
%section
  .row#y2000
    .columns.large-12
      .columns.large-5.m-top2
        %h2.history
          %b
            2000
  
  .row
    .columns.large-12.box{"data-aos" => "fade-up"}
      .columns.large-5
        %h3.history-year
          %b
            2004
        
        %h3.history-title-main.m-top2 
          %b
            Founded in Dalton, GA
        .history-break-main
        %p.history-description-main
          Client: Beaulieu, Shaw, Kobayashi, LG Hausys, Mohawk, etc    
      .columns.large-7{:style=>"padding:0;"}
        .history-image{:onclick => "openModal();currentSlide(1)"}
          =image_tag "history/dalton-founded.jpg", :alt=>"Joynus Founded In Dalton GA"
          
          .clip
            %b  
              2004
            %i.icon-forward 
  
  .row.m-top2#y2009
    .columns.large-12.box{"data-aos" => "fade-up"}
      .columns.large-5.large-push-7
        %h3.history-year
          %b
            2009
        %h3.history-title-main.m-top2
          %b
            LaGrange, GA Branch Open
        .history-break-main
        %p.history-description-main
          Client: KIA Motors, Hyundai PowerTech, Hyundai Dymos, Hyundai Mobis, Sewon, Dongwon Auto Tech, Seoyon E-Hwa, Daeha, etc
      
      .columns.large-7.large-pull-6{:style=>"padding:0;"}
        .history-image{:onclick => "openModal();currentSlide(2)"}
          =image_tag "history/lagrange-open.jpg", :alt=>"Lagrange GA Branch Open"
          .clip
            %b
              2009
            %i.icon-forward 
            

  .row#y2010
         
%section
  .row
    .columns.large-12
      .columns.large-3.m-top2
        %h2.history
          %b
            2010
  
  .row
    .columns.large-12.box{"data-aos" => "fade-up"}
      .columns.large-5
        %h3.history-year
          %b
            2011
        %h3.history-title-main.m-top2 
          %b
            Opelika, AL Branch Open
        .history-break-main
        %p.history-description-main
          Clent: Hyundai Power Transformer, Hyundai Engineering, Lotte Chemical, Mando, Halla Meister, Ajin, Kwangsung, Iljin, Leehan, Wooshin, Daewon, Seohan Auto, Nashville Wire, Donghee, etc
      .columns.large-7.large-push-1{:style=>"padding:0;"}
        .history-image{:onclick => "openModal();currentSlide(3)"}
          =image_tag "history/opelika-open.jpg", :alt=>"Opelika AL Branch Open"
          
          .clip
            %b
              2011
            %i.icon-forward
  
  .row.m-top2#y2015
    .columns.large-12.box{"data-aos" => "fade-up"}
      .columns.large-5.large-push-7
        %h3.history-year
          %b
            2015
        %h3.history-title-main.m-top2 
          %b
            Norcross, GA Headquarter Open
        .history-break-main
        %p.history-description-main
          Client: Kumho Tire, Posco Daewoo, Posco America, LG Chemical, Hankook Tire, Samsung Digitech, SKC&C, CJ Logistics, Outre, etc
      .columns.large-7.large-pull-6{:style=>"padding:0;"}
        .history-image{:onclick => "openModal();currentSlide(4)"}
          =image_tag "history/norcross-open.jpg", :alt=>"HQ Norcross GA Open"
          .clip
            %b
              2015
            %i.icon-forward
  
  .row.m-top2
    .columns.large-12.box{"data-aos" => "fade-up"}
      .columns.large-5
        %h3.history-year
          %b
            2015
        %h3.history-title-main.m-top2 
          %b
            Seoul, Korea Branch Open
        .history-break-main
        %p.history-description-main
          Client: Kumho Tire, Posco Daewoo, Posco America, LG Chemical, Hankook Tire, Samsung Digitech, SKC&C, CJ Logistics, Outre, etc
      .columns.large-7.large-push-1{:style=>"padding:0;"}
        .history-image{:onclick => "openModal();currentSlide(5)"}
          =image_tag "history/korea-open.jpg", :alt=>"Korea Branch Open"
          .clip
            %b
              2015
            %i.icon-forward
  
  .row.m-top2#y2016
    .columns.large-12.box{"data-aos" => "fade-up"}
      .columns.large-5.large-push-7
        %h3.history-year
          %b
            2016
        %h3.history-title-main.m-top2 
          %b
            Greenville, AL Branch Open 
        .history-break-main
        %p.history-description-main
          Client: Guyoung Tech, Sejong, Daehan Solution, KTN, Badcock Furniture, Caregiver Service, etc
          
      .columns.large-7.large-pull-6{:style=>"padding:0;"}
        .history-image{:onclick => "openModal();currentSlide(6)", "data-aos" => "fade-up"}
          =image_tag "history/greenville-open.jpg", :alt=>"Greenville AL Branch Open"
          .clip
            %b
              2016
            %i.icon-forward
  
  .row.m-top2#y2017
    .columns.large-12.box{"data-aos" => "fade-up"}
      .columns.large-5
        %h3.history-year
          %b
            2017
        %h3.history-title-main.m-top2 
          %b
            Lathrop, CA & Knoxville, TN Branch Open
        .history-break
        %p.history-description-main
          Client: Tesla, Halla, Simwon, Samsung SSI, Samsung Electronics, LG Electronics, Shinhung Global, Seoul Semiconductor, etc
      .columns.large-7.large-push-1{:style=>"padding:0;"}
        .history-image{:onclick => "openModal();currentSlide(7)"}
          
          =image_tag "history/lathrop-open.jpg", :alt=>"Lathrop CA Branch Open"
          .clip
            %b
              2017
            %i.icon-forward
  
  .row.m-top2#y2018
    .columns.large-12.box{"data-aos" => "fade-up"}
      .columns.large-5.large-push-7
        %h3.history-year
          %b
            2018
        %h3.history-title-main.m-top2 
          %b
            Conyers, GA & Manteca, CA Branch Open
        .history-break-main
        %p.history-description-main
          Client: SKC, Great Wolf Lodge, SK Innovation, Sambo Motors, Dong-A USA, etc
      .columns.large-7.large-pull-6{:style=>"padding:0;"}
        .history-image{:onclick => "openModal();currentSlide(8)", "data-aos" => "fade-up"}
          =image_tag "history/manteca-open.jpg", :alt=>"Manteca CA Branch Open"
          .clip
            %b
              2018
            %i.icon-forward

.year-background#year-backbround
  .year-content 2010


//modal slides..
#myModal.modal
  .modal-content
    .mySlides.fade
      .row.m-mobile-history
        .columns.large-7.large-push-5
          =image_tag "history/dalton-founded.jpg", :alt=>"Joynus Founded In Dalton GA"
        .columns.large-5.large-pull-7
          %h4.history-year
            %b
              2004
          %h3.history-title.m-top2 
            %b
              Founded in Dalton, GA
          .history-break
          %p.history-description
            Client: Beaulieu, Shaw, Kobayashi, LG Hausys, Mohawk, etc
          
              
    .mySlides.fade
      .row.m-mobile-history
        .columns.large-7.large-push-5
          =image_tag "history/lagrange-open.jpg", :alt=>"Lagrange GA Branch Open"
        .columns.large-5.large-pull-7
          %h4.history-year
            %b
              2009
          %h3.history-title.m-top2 
            %b
              LaGrange, GA Branch Open
          .history-break
          %p.history-description
            Client: KIA Motors, Hyundai PowerTech, Hyundai Dymos, Hyundai Mobis, Sewon, Dongwon Auto Tech, Seoyon E-Hwa, Daeha, etc
      
    .mySlides.fade
      .row.m-mobile-history
        .columns.large-7.large-push-5
          =image_tag "history/opelika-open.jpg", :alt=>"Opelika AL Branch Open"
        .columns.large-5.large-pull-7
          %h4.history-year
            %b
              2011
          %h3.history-title.m-top2 
            %b
              Opelika, AL Branch Open
          .history-break
          %p.history-description
            Clent: Hyundai Power Transformer, Hyundai Engineering, Lotte Chemical, Mando, Halla Meister, Ajin, Kwangsung, Iljin, Leehan, Wooshin, Daewon, Seohan Auto, Nashville Wire, Donghee, etc
    .mySlides.fade
      .row.m-mobile-history
        .columns.large-7.large-push-5
          =image_tag "history/norcross-open.jpg", :alt=>"HQ Norcross GA Open"
        .columns.large-5.large-pull-7
          %h4.history-year
            %b
              2015
          %h3.history-title.m-top2 
            %b
              Norcross, GA Headquarter Open
          .history-break
          %p.history-description
            Client: Kumho Tire, Posco Daewoo, Posco America, LG Chemical, Hankook Tire, Samsung Digitech, SKC&C, CJ Logistics, Outre, etc
    .mySlides.fade
      .row.m-mobile-history
        .columns.large-7.large-push-5
          =image_tag "history/korea-open.jpg", :alt=>"Korea Branch Open"
        .columns.large-5.large-pull-7
          %h4.history-year
            %b
              2015
          %h3.history-title.m-top2 
            %b
              Seoul, Korea Branch Open
          .history-break
          %p.history-description
            Client: Kumho Tire, Posco Daewoo, Posco America, LG Chemical, Hankook Tire, Samsung Digitech, SKC&C, CJ Logistics, Outre, etc
    .mySlides.fade
      .row.m-mobile-history
        .columns.large-7.large-push-5
          =image_tag "history/greenville-open.jpg", :alt=>"Greenville AL Branch Open"
        .columns.large-5.large-pull-7
          %h4.history-year
            %b
              2016
          %h3.history-title.m-top2 
            %b
              Greenville, AL Branch Open 

          .history-break
          %p.history-description
            Client: Guyoung Tech, Sejong, Daehan Solution, KTN, Badcock Furniture, Caregiver Service, etc
    .mySlides.fade
      .row.m-mobile-history
        .columns.large-7.large-push-5
          =image_tag "history/lathrop-open.jpg", :alt=>"Lathrop CA Branch Open"
        .columns.large-5.large-pull-7
          %h4.history-year
            %b
              2017
          %h3.history-title.m-top2 
            %b
              Lathrop, CA & Knoxville, TN Branch Open
          .history-break
          %p.history-description
            Client: Tesla, Halla, Simwon, Samsung SSI, Samsung Electronics, LG Electronics, Shinhung Global, Seoul Semiconductor, etc
    .mySlides.fade
      .row.m-mobile-history
        .columns.large-7.large-push-5
          =image_tag "history/manteca-open.jpg", :alt=>"Manteca CA Branch Open"
        .columns.large-5.large-pull-7
          %h4.history-year
            %b
              2018
          %h3.history-title.m-top2 
            %b
              Conyers, GA & Manteca, CA Branch Open
          .history-break
          %p.history-description
            Client: SKC, Great Wolf Lodge, SK Innovation, Sambo Motors, Dong-A USA, etc
    %span.close.cursor{:onclick => "closeModal()"}
      x
    %a.prev{:onclick => "plusSlides(-1)"}
      %i.icon-left-open
    %a.next{:onclick => "plusSlides(1)"}
      %i.icon-right-open







:javascript
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    
    slides[slideIndex-1].style.transitionDuration = "1s";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
