- content_for :title do

  %link{:href => "https://www.joynus.com/about", :rel => "canonical"}
  %title Meet the Team | Joynus Staffing
  %meta{:content => "Our core characteristics include goal crushing attitude, competence, real-time communication, steadfast commitment, a no excuses attitude, open and transparent policies.", :name => "Description"}
  %meta{:content => "Staffing agency, Recruiting agency, Temp agency, Looking for job, Looking for Employee, Hire temp, hiring, recruiting, directhire", :name => "keywords"}
  %meta{:content => "/assets/Logo_StackUp-209603de2620f5818742d56fbb0c67de.png", :property => "og:image"}
  %meta{:content => "Website", :property => "og:type"}
  %meta{:content => "summary_large_image", :name => "twitter:card"}
  %meta{:content => "https://www.joynus.com/assets/Logo_StackUp-209603de2620f5818742d56fbb0c67de.png", :name => "twitter:image"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"}
  %script{:src => "https://rawgit.com/kenwheeler/slick/master/slick/slick.js"}
  %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css", :integrity => "sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==", :rel => "stylesheet"}/
  %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css", :integrity => "sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==", :rel => "stylesheet"}/



%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('meet_the_team/meet-the-team_mobile.jpg')}, (small)], [#{asset_path('meet_the_team/meet-the-team_final.jpg')}, (medium)], [#{asset_path('meet_the_team/meet-the-team_final.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center.animated.fadeInDown{:style=>"text-decoration:underline; transform:scale(0.9);"}
        
          Trusted Staffing Solutions Since 2009.


%section.m-top3
  .row
    .columns.large-12
      .box
        .columns.large-5{"data-aos" => "fade-down-right"}
          =image_tag "career/career-7.png", :alt=>"Career-7"

        .columns.large-5
          %h3.career
            %b
              Dear You,
          %p.m-top3
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


%section
  .row
    .columns.large-12
      %h3.career
        %b
          Team Joynus

      %p.m-top4
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.




%section
%section
%section


%section
  .row
    .columns.large-12
      %h3.career
        %b
          Offices

      %p.m-top4
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
      
      
      


%section
%section
%section




     
 
        
  
  
%section
  .row
    .columns.large-12
      %h3.career
        %b
          Our Beliefs

  .row.m-top4
      

    .columns.medium-4
      
      = image_tag "meet_the_team/Rectangle 2.png", :alt=>"right people", :style=>"width:80%; margin-left:10%;"
          
        
      %h5.m-top2.text-center
        %b
          Right People
      
      %p.m-top3{:style=>"padding:0 11%"}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          
    .columns.medium-4
      
      = image_tag "meet_the_team/Rectangle 2.png", :alt=>"right people", :style=>"width:80%; margin-left:10%;"
          
        
      %h5.m-top2.text-center
        %b
          Be Open-minded
      
      %p.m-top3{:style=>"padding:0 11%"}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .columns.medium-4
      
      = image_tag "meet_the_team/Rectangle 2.png", :alt=>"right people", :style=>"width:80%; margin-left:10%;"
          
        
      %h5.m-top2.text-center
        %b
          Act Smart
      
      %p.m-top3{:style=>"padding:0 11%"}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

