- content_for :title do

  %link{:href => "https://www.joynus.com/about", :rel => "canonical"}
  %title Meet the Team | Joynus Staffing
  %meta{:content => "Our core characteristics include goal crushing attitude, competence, real-time communication, steadfast commitment, a no excuses attitude, open and transparent policies.", :name => "Description"}
  %meta{:content => "Staffing agency, Recruiting agency, Temp agency, Looking for job, Looking for Employee, Hire temp, hiring, recruiting, directhire", :name => "keywords"}
  %meta{:content => "/assets/Logo_StackUp-209603de2620f5818742d56fbb0c67de.png", :property => "og:image"}
  %meta{:content => "Website", :property => "og:type"}
  %meta{:content => "summary_large_image", :name => "twitter:card"}
  %meta{:content => "https://www.joynus.com/assets/Logo_StackUp-209603de2620f5818742d56fbb0c67de.png", :name => "twitter:image"}
  %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css", :integrity => "sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==", :rel => "stylesheet"}/
  %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css", :integrity => "sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==", :rel => "stylesheet"}/

%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('meet_the_team/meet-the-team_mobile.jpg')}, (small)], [#{asset_path('meet_the_team/meet-the-team_final.jpg')}, (medium)], [#{asset_path('meet_the_team/meet-the-team_final.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center.animated.fadeInDown{:style=>"text-decoration:underline; transform:scale(0.9);"}

          Trusted Staffing Solutions Since 2009.


%section.m-top3
  .row
    .columns.large-12
      .box
        .columns.large-5{"data-aos" => "fade-down-right"}
          =image_tag "career/career-7.png", :alt=>"Career-7"

        .columns.large-5
          %h3.career
            %b
              Dear You,
          %p.m-top3
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


%section
  .row
    .columns.large-12
      %h3.career
        %b
          Team Joynus

      %p.m-top4
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.




%section
%section
%section

%section
  .row
    .columns.large-12
      %h3.career
        %b
          Offices

      %p.m-top4
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

%section
%section
%section

%section
  .row
    .columns.large-12
      %h3.career
        %b
          Our Beliefs
  .row.m-top4
    .columns.medium-4
      = image_tag "meet_the_team/Rectangle 2.png", :alt=>"right people", :style=>"width:80%; margin-left:10%;"

      %h5.m-top2.text-center
        %b
          Right People
      %p.m-top3{:style=>"padding:0 11%"}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .columns.medium-4
      = image_tag "meet_the_team/Rectangle 2.png", :alt=>"right people", :style=>"width:80%; margin-left:10%;"

      %h5.m-top2.text-center
        %b
          Be Open-minded
      %p.m-top3{:style=>"padding:0 11%"}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .columns.medium-4
      = image_tag "meet_the_team/Rectangle 2.png", :alt=>"right people", :style=>"width:80%; margin-left:10%;"
      %h5.m-top2.text-center
        %b Act Smart
      %p.m-top3{:style=>"padding:0 11%"}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  .row
    %div.about-us-body
      .main-content.large
        .container.container-theme.container-team.theme-light{"data-theme" => "theme-light"}
          %h1.text-center.smaller-margin A Passionate Team
          %ul.team-grid.the-team
            %li
              %figure.eye
              %strong.tooltip-title Adrian Andrași
            %li
              %figure.eye
              %strong.tooltip-title Adrian Balogh
            %li
              %figure.eye
              %strong.tooltip-title Adrian Ispas
            %li
              %figure.eye
              %strong.tooltip-title Adrian Stan
            %li
              %figure.eye
              %strong.tooltip-title Alex Pană
            %li
              %figure.eye
              %strong.tooltip-title Alex Ungureanu
            %li
              %figure.eye
              %strong.tooltip-title Alexandra Tîrnoveanu
            %li
              %figure.eye
              %strong.tooltip-title Alexandra-Cristina Szücs
            %li
              %figure.eye
              %strong.tooltip-title Alexandru Fătu
            %li
              %figure.eye
              %strong.tooltip-title Alexandru Mahu
            %li
              %figure.eye
              %strong.tooltip-title Andrei Călian
            %li
              %figure.eye
              %strong.tooltip-title Andrei Carțiș
            %li
              %figure.eye
              %strong.tooltip-title Andrei Mariuțeac
            %li
              %figure.eye
              %strong.tooltip-title Andrei Pițiș
            %li
              %figure.eye
              %strong.tooltip-title Andrei Popa
            %li
              %figure.eye
              %strong.tooltip-title Angela Borşan
            %li
              %figure.eye
              %strong.tooltip-title Annamária Kovács
            %li
              %figure.eye
              %strong.tooltip-title Attila Szász
            %li
              %figure.eye
              %strong.tooltip-title Barna Biró
            %li
              %figure.eye
              %strong.tooltip-title Bogdan Haifa
            %li
              %figure.eye
              %strong.tooltip-title Botond-Nándor Lévai
            %li
              %figure.eye
              %strong.tooltip-title Botond Ráduly
            %li
              %figure.eye
              %strong.tooltip-title Brînduşa Gavra
            %li
              %figure.eye
              %strong.tooltip-title Călin Gabor
            %li
              %figure.eye
              %strong.tooltip-title Călin Lucian Ciobanu
            %li
              %figure.eye
              %strong.tooltip-title Călin Tritean
            %li
              %figure.eye
              %strong.tooltip-title Camelia Mortan
            %li
              %figure.eye
              %strong.tooltip-title Cătălin Mustocea
            %li
              %figure.eye
              %strong.tooltip-title Ciprian Morar
            %li
              %figure.eye
              %strong.tooltip-title Cristian Maxim
            %li
              %figure.eye
              %strong.tooltip-title Cristian Mesaroş
            %li
              %figure.eye
              %strong.tooltip-title Cristina Fitărău
            %li
              %figure.eye
              %strong.tooltip-title Cristina Ilinca
            %li
              %figure.eye
              %strong.tooltip-title Cristina Șandru
            %li
              %figure.eye
              %strong.tooltip-title Csaba Tekse
            %li
              %figure.eye
              %strong.tooltip-title Csongor Varró
            %li
              %figure.eye
              %strong.tooltip-title Dan Radic
            %li
              %figure.eye
              %strong.tooltip-title Dan Țofei
            %li
              %figure.eye
              %strong.tooltip-title Daniela Manea
            %li
              %figure.eye
              %strong.tooltip-title Dinu Moldovan
            %li
              %figure.eye
              %strong.tooltip-title Dragoș Șerdean
            %li
              %figure.eye
              %strong.tooltip-title Erika Lăcătuş
            %li
              %figure.eye
              %strong.tooltip-title Florin Lazău
            %li
              %figure.eye
              %strong.tooltip-title Florin Sideriaş
            %li
              %figure.eye
              %strong.tooltip-title Gabor Leitner
            %li
              %figure.eye
              %strong.tooltip-title Gabriel Lăcătuş
            %li
              %figure.eye
              %strong.tooltip-title Gabriel Petcheși
            %li
              %figure.eye
              %strong.tooltip-title Georgiana Preduca
            %li
              %figure.eye
              %strong.tooltip-title Gyula Király
            %li
              %figure.eye
              %strong.tooltip-title Horea Buta
            %li
              %figure.eye
              %strong.tooltip-title Horia Pop
            %li
              %figure.eye
              %strong.tooltip-title Ildikó Soós
            %li
              %figure.eye
              %strong.tooltip-title Ioan Iuşan
            %li
              %figure.eye
              %strong.tooltip-title Ionuţ Vultur
            %li
              %figure.eye
              %strong.tooltip-title Iulia Crişan
            %li
              %figure.eye
              %strong.tooltip-title Kincső Eszter Balogh
            %li
              %figure.eye
              %strong.tooltip-title László Gál
            %li
              %figure.eye
              %strong.tooltip-title Laura Badea
            %li
              %figure.eye
              %strong.tooltip-title Lehel Medvés
            %li
              %figure.eye
              %strong.tooltip-title Lehel Vass
            %li
              %figure.eye
              %strong.tooltip-title Levente Horváth
            %li
              %figure.eye
              %strong.tooltip-title Lóránd Dobai
            %li
              %figure.eye
              %strong.tooltip-title Lóránd Nagy
            %li
              %figure.eye
              %strong.tooltip-title Lucian Mărieș
            %li
              %figure.eye
              %strong.tooltip-title Lucian Niga
            %li
              %figure.eye
              %strong.tooltip-title Lucian Pop Fele
            %li
              %figure.eye
              %strong.tooltip-title Luminița Butilcă
            %li
              %figure.eye
              %strong.tooltip-title Marius Moza
            %li
              %figure.eye
              %strong.tooltip-title Meda Păcurar
            %li
              %figure.eye
              %strong.tooltip-title Mihai Bădilă
            %li
              %figure.eye
              %strong.tooltip-title Mihai Cotoi
            %li
              %figure.eye
              %strong.tooltip-title Mihai Potcoavă
            %li
              %figure.eye
              %strong.tooltip-title Mihai Savu
            %li
              %figure.eye
              %strong.tooltip-title Mihai Teletin
            %li
              %figure.eye
              %strong.tooltip-title Mircea Baicu
            %li
              %figure.eye
              %strong.tooltip-title Mircea Drăgoi
            %li
              %figure.eye
              %strong.tooltip-title Nicoleta Florian
            %li
              %figure.eye
              %strong.tooltip-title Ovidiu Coman
            %li
              %figure.eye
              %strong.tooltip-title Ovidiu Olaru
            %li
              %figure.eye
              %strong.tooltip-title Patricia Vălușescu
            %li
              %figure.eye
              %strong.tooltip-title Paula Jurca
            %li
              %figure.eye
              %strong.tooltip-title Radu Pantea
            %li
              %figure.eye
              %strong.tooltip-title Răzvan Duma
            %li
              %figure.eye
              %strong.tooltip-title Răzvan Mureşan
            %li
              %figure.eye
              %strong.tooltip-title Răzvan Părcălab
            %li
              %figure.eye
              %strong.tooltip-title Róbert Balázs
            %li
              %figure.eye
              %strong.tooltip-title Roland Bogosi
            %li
              %figure.eye
              %strong.tooltip-title Sándor Nemes
            %li
              %figure.eye
              %strong.tooltip-title Sebastian Sturza
            %li
              %figure.eye
              %strong.tooltip-title Șerban Demeter
            %li
              %figure.eye
              %strong.tooltip-title Sergiu Bolba
            %li
              %figure.eye
              %strong.tooltip-title Ștefan Broșteanu
            %li
              %figure.eye
              %strong.tooltip-title Ștefănel Budăi
            %li
              %figure.eye
              %strong.tooltip-title Tamás Pap
            %li
              %figure.eye
              %strong.tooltip-title Tiberiu Priboi
            %li
              %figure.eye
              %strong.tooltip-title Tibor Fazakas
            %li
              %figure.eye
              %strong.tooltip-title Valentin Uilean
            %li
              %figure.eye
              %strong.tooltip-title Vlad Miheșan
            %li
              %figure.eye
              %strong.tooltip-title Vlad Negrea
            %li
              %figure.eye
              %strong.tooltip-title Zoltán Balogh
            %li
              %figure.eye
              %strong.tooltip-title Zoltán Bereczki
            %li
              %figure.eye
              %strong.tooltip-title Zoltán Szappanyos
            %li
              %figure.eye
              %strong.tooltip-title Zsolt Bessenyei
            %li
              %figure.eye
              %strong.tooltip-title Zsolt Borbely
            %li.you
              %a{:href => "/careers.html"}
                %figure#eye_you.eye You?
                %strong.tooltip-title You?

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"}
%script{:src => "https://rawgit.com/kenwheeler/slick/master/slick/slick.js"}
= javascript_include_tag "team_dashboard/viewport.js?v=3", "team_dashboard/main.js?v=1.4"
= stylesheet_link_tag 'team_dashboard/main.css'
